@{
    ViewData["Title"] = "List of Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of Tasks</h1>

<p>
    <a asp-action="Create">Create New Task</a>
</p>
<table class="table table-bg table-striped" id="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">TITLE</th>
            <th scope="col">DESCRIPTION</th>
            <th scope="col">DUE DATE</th>
            <th scope="col">Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="table_body">
    </tbody>
</table>

