@model TaskTrac.DAL.Models.Tasks

@{
    ViewData["Title"] = "Tasks";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Task</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container-fluid">
        <h3 class="mt-3 mb-4">List of Tasks</h3>

        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-outline-secondary mb-3" href="CreateTask">NEW TASK</a>
            </div>
            <div class="col-md-6">
                <input type="text" id="searchField" class="form-control mb-3" placeholder="Search by Title, Description or Due Date">
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" hidden>ID</th>
                        <th scope="col">TITLE</th>
                        <th scope="col">DESCRIPTION</th>
                        <th scope="col">DUE DATE</th>
                        <th>ACTIONS</th>
                    </tr>
                </thead>
                <tbody id="taskList">
                </tbody>
            </table>
        </div>
    </div>

</body>
<script type="module" src="~/js/tasks.js"></script>
<script type="module" src="~/js/deleteConfirmation.js"></script>
</html>

<style>
    .table {
        margin-top: 50px;
    }
</style>