@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TaskTrac</h1>
    <h4>STAY ON TRACK WITH TASKTRAC</h4>

    <img class = "logo" src="~/Assets/MainLogo.png" />

</div>

<style>
    .logo{
        width:350px;
        margin-top:50px;
        margin-left: 50px;
    }
</style>
